*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    width: 100%;
    height: 80px;
    background-color: #5c3327;
}
#logoheader{
    display: block;
    height:95px;
    margin-left: 20px;
    margin-top: -3px;
    float: left;
}
header button img{
    margin-top: 5px;
    height: 40px;
    float: right;
    margin-right: 3%;
}
header button{
    background-color: #5c3327;
    border: none;
    float: right;
    margin-right: 3%;
    margin-top: 15px;
    cursor: pointer;
}
header a{
    color: #f5f5f5;
    float: left;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 35px;
    text-decoration: none;
    font-weight: bold;
}
#lupa{
    float: left;
    height: 30px;
    margin-left: 40px;
    margin-top: 23px;
}
header input{
    margin-top: 20px;
    margin-left: 8px;
    height: 40px;
    width: 380px;
    border-radius: 6px;
    border: none;
}
header span{
    float: right;
    margin-right: -40px;
    margin-top: 20px;
    background-color: rgb(202, 0, 0);
    color: white;
    border-radius: 2px;
}

/*MAIN*/
main{
    padding-top: 20px;
    width: 100%;
    height: 780px;
    background-color: #faf2e8;
}
main h1{
    color: #5c3327;
    margin-left: 20px;
    font-size: 28px;
    margin-bottom: 18px;
}
#risco{
    float: right;
    width: 78%;
    background-color: #5c3327;
    height: 5px;
    margin-top: -34px;
}
.produtos{
    margin: 0;
    background-color: #faf2e8;
    height: 700px;
    width: 100%;
}
main div.caixas{
    display: block;
    float: left;
    height: 350px;
    width: 250px;
    background-color: #D5ac5b;
    margin-left: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
}
main div.caixas:hover{
    transform: scale(1.04);
    transition: 0.5s;
}
main div img{
    width: 200px;
    height: 200px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
main div h2{
    font-size: 18px;
    margin-left: 8px;
    margin-right: 5px;
}
.botaoadd{
    margin-left: 5px;
    margin-top: auto;
    position: absolute;
    height: 35px;
    width: 240px;
    border-radius: 10px;
    border: none;
    background-color: #f5ead4;
}
.botaoadd:hover{
    transform: scale(1.03);
    transition: 0.5s;
    background-color: #f3e5cb;
    cursor: pointer;
}
.preco1{
    margin-top: 3px;
    font-size: 18px;
    color: gray;
    text-decoration: line-through;
}
.preco2{
    font-size: 16px;
    color: green;
    margin-bottom: 3px;
}

/*ASIDE*/
aside{
    background-color: #faf2e8;
    border: #5c3327 3px solid;
    border-radius: 10px;
    float: right;
    display: none;
    width: 40%;
    height: 1515px;
    margin-top: -70px; 
    color: #5c3327;
}
aside h1{
    text-align: center;
}
.produtocarrinho{
    height: 300px;
    width: 100%;
    margin-top: 10px;
}
button.produtocarrinho{
    width: 50px;
}

/*FOOTER*/
footer{
    height: 220px;
    width: 100%;
    background-color: #5c3327;
    color: #FAF8F2;
}
footer img{
    height: 100px;
    float: left;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: -20px;
}
footer div{
    width: 40%;
    margin-left: 5%;
    float: left;
    margin-top: 20px;
}
footer h3{
    font-weight: normal;
}